<div class="form-wrapper teacher-login">
  <div class="inner-form-no-bg">
    <h3>Login</h3><br><br>
    <%= form_tag '/teacher_sessions' do %>

    <div class="form-group">
      <%= email_field_tag :email, "", class: "form-control", placeholder: "Email" %>
    </div><br>

    <div class="form-group">
      <%= password_field_tag :password, "", class: "form-control", placeholder: "Password"  %>
    </div><br>

    <%= submit_tag "Log In!", class: "button button_highlight" %><br><br>
    <p class="text-center"><%= link_to "Dont' have a Teaching Account? Sign Up!", new_teacher_path %></p>

    <p class="text-center"><%= link_to "Forgot Password? ", reset_password_path %></p>
    <% end %>
  </div>
</div>
