<div class="form-wrapper">

  <%= form_for @student do |f| %>

    <% if @student.errors.any? %>
      <div class="alert alert-danger">
      <h1><%= pluralize(@student.errors.count, "Errors") %> Prevented Your Anonymous Identity Creation </h1>
      <% @student.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </div><br><br>
    <% end %>


  <div class="form-group">
    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
  </div><br>

  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div><br>

  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"%>
  </div><br>

  <div class="form-group">
    <%= f.label "Terms Of Acceptance" %>
    <%= f.check_box :acceptance_of_terms %>
  </div>

  <%= f.submit "Sign Up!", class: "button button_highlight" %><br><br>
  <%= link_to "Already With Us? Login Instead!!!", new_students_session_path %>

  <% end %>

</div>
