<div class="container order-show">

  <br><br><br><br>
  <% if @student.orders.where(purchase_status: "Completed").any? %>

      <% @student.orders.where(approved_completion: false, status: "Completed", purchase_status: "Completed").order(updated_at: :desc).each do |order| %>


                    <div class="card-columns">
                      <div class="card card-success">
                        <div class="card-block">
                          <h4 class="card-title"><%= link_to(order.id, student_order_path(@student, order)) + " " + order.order_type %></h4>
                          <p class="card-text">
                            Subject: <%= order.subject %><br>
                            Topic: <%= order.topic %><br>
                            About Homework: <%= order.about_homework %><br>
                            Teacher Name: <% if order.teacher_id != 0 %>
                                <td><%= link_to order.teacher.first_name, order.teacher %></td>
                            <% else %>
                                <td> Not Accepted By Anyone Yet </td>
                            <% end %><br>
                            Status: <%= order.status %><br>
                            Deadline: <%= order.deadline %><br>
                            Special Comments: <%= order.special_comments %><br>
                            Approved Cofirmation?: <%= order.approved_completion.to_s.titleize %>
                          </p>
                        </div>
                      </div>
                    </div>

        <% end %>


      <div class="card-columns">
      <% @student.orders.where(approved_completion: false, purchase_status: "Completed").where.not(status: "Completed").order(updated_at: :desc).each do |order| %>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title"><%= link_to(order.id, student_order_path(@student, order)) + " " + order.order_type %></h4>
                <p class="card-text">
                  Subject: <%= order.subject %><br>
                  Topic: <%= order.topic %><br>
                  About Homework: <%= order.about_homework %><br>
                  Teacher Name: <% if order.teacher_id != 0 %>
                      <td><%= link_to order.teacher.first_name, order.teacher %></td>
                  <% else %>
                      <td> Not Accepted By Anyone Yet </td>
                  <% end %><br>
                  Status: <%= order.status %><br>
                  Deadline: <%= order.deadline %><br>
                  Special Comments: <%= order.special_comments %><br>
                  Approved Cofirmation?: <%= order.approved_completion.to_s.titleize %>
                </p>
              </div>
            </div>
        <% end %>
      </div>

        <% @student.orders.where(approved_completion: true, purchase_status: "Completed").order(updated_at: :desc).each do |order| %>
          <div class="card-columns">
            <div class="card card-danger">
              <div class="card-block">
                <h4 class="card-title"><%= link_to(order.id, student_order_path(@student, order)) + " " + order.order_type %></h4>
                <p class="card-text">
                  Subject: <%= order.subject %><br>
                  Topic: <%= order.topic %><br>
                  About Homework: <%= order.about_homework %><br>
                  Teacher Name: <% if order.teacher_id != 0 %>
                      <td><%= link_to order.teacher.first_name, order.teacher %></td>
                  <% else %>
                      <td> Not Accepted By Anyone Yet </td>
                  <% end %><br>
                  Status: <%= order.status %><br>
                  Deadline: <%= order.deadline %><br>
                  Special Comments: <%= order.special_comments %><br>
                  Approved Cofirmation?: <%= order.approved_completion.to_s.titleize %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <br><br><br><br>

        <%= link_to "Place New Order", new_student_order_path(student_id: current_student), class: "button button_highlight" %>
    <% else %>

    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <div class="card-block">
        <h3 class="card-title">No Orders yet</h3>
        <p class="card-text">Go Place Your First Order and Change Your Life.</p>
        <%= link_to "Place New Order", new_student_order_path(student_id: current_student), class: "button button_highlight" %>
      </div>
    </div>

    <% end %>



    <br><br><br><br>  <br><br><br><br>
      <br><br><br><br>
      <% if @student.orders.count < 9 %>
      <br><br><br><br>  <br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <% end %>
      <%  %>
</div>
