	<section id="banner">
			<div class="wrapper">
				<div class="content">
					<h1 class="title">We create Billionaires !</h1>
					<h5 class="sub-sub-title">(Not The 4.0 Pointers)</h5><br>
					<h2 class="sub_title"> Your College BAE<br>"Tomorrow is my Exam, but I don't care because a single sheet of paper cannot decide my future." <br> - Thomas Edison</h2>
					<div class="button_wrapper">

						<button type="button" class="" data-toggle="modal" data-target="#login-modal" id="homework_btn">
						  Get Your Homework Done
						</button>
					</div>
					<div id="see_more">
						<%= image_tag 'arrows_down.png', class:"see_more" %>
					</div>
				</div>
			</div>
		</section>

		<section id="services" class="cf">
			<div class="wrapper">
				<div class="service">
					<br><h3>Homework</h3><br>
					<p>Lagging Back on Homework?<br> No Problem. Get it done :)</p>
					<button type="button" class="button button_highlight" data-toggle="modal" data-target="#homework">
						Learn More
					</button>
				</div>

				<div class="service middle">
					<br><h3>Teaching / Tutoring For Exam</h3><br>
					<p>Think Your Professors suck? Have 8 am's <br> Hell Yeah! Learn with us...</p>
					<button type="button" class="button button_highlight" data-toggle="modal" data-target="#exam">
						Learn More
					</button>
				</div>

				<div class="service"><br>
					<h3>Learn Your Homework</h3><br>
					<p>Dont't just want HW done? Want to learn how to do it?<br> We are here ;)</p>
					<button type="button" class="button button_highlight" data-toggle="modal" data-target="#learnHomework">
						Learn More
					</button>
				</div>
			</div>
		</section>

		<section id="past1" class="past_work" >

				<h1>Get Your Homework Done By The Experts Themseleves...</h1>

				<div id="homework1">
					<div class="hw1imgdiv">
						<%= image_tag 'Homework1.png', class:"hw1img" %>
					</div>
					<div id="hw1pts1">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Anonymous Identity. No Login Details Taken.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Every Homework Done Unique. No Plagiarism.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Get Homework Solutions For Understanding the Problem and Future Reference.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Select From a Range Of Experts.</li>
							</div>
						</ul>
					</div>

					<div id="hw1pts2">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Set Deadline For the Homework.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Your Homework Done @ <u>$3 / homework.</u></li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Every Subject Covered.</li>
							</div>
							<br>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Unlimited Revisions until Not Satisfied With Homework<br></li>
							</div>
						</ul>
					</div>
				</div>
			</div>

			<div class="container block-button-container">
				<button type="button" class="block-button" data-toggle="modal" data-target="#login-modal">
					Get Homework Done
				</button>
			</div>

		</section>

		<hr>

		<section class="past_work" id="past2">

				<h1>Dont Just Get it Done...Complete And Understand Your Homework</h1>

				<div id="homework1">

					<div id="hw1pts1">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Anonymous Identity. No Login Details Taken.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Get Proper Explainations and Solutions of the Homework</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Query Your Doubts while submitting the homework - in special comments section</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Select From a Range Of Experts.</li>
							</div>
						</ul>
					</div>

					<div id="hw1pts2">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Set Deadline For the Homework.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Your Homework Done @ <u>$4 / homework.</u></li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Every Subject Covered.</li>
							</div>
							<br>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Unlimited Revisions until Not Satisfied With Homework<br></li>
							</div>
						</ul>
					</div>

					<div class="hw1imgdiv">
						<%= image_tag 'Homework2.png', class:"hw1img" %>
					</div>

				</div>
			</div>


			<div class="container block-button-container2">
				<button type="button" class="block-button" data-toggle="modal" data-target="#login-modal">
					Get Homework Done With Solution
				</button>
			</div>

		</section>

		<hr>

		<section class="past_work" id="past3">

				<h1>Get Live Tutoring One on One... ( ... Coming Soon ... )</h1>

				<div id="homework1">
					<div class="hw1imgdiv">
						<%= image_tag 'Homework3.PNG', class:"hw1img" %>
					</div>
					<div id="hw1pts1">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Select From A Range Of Experts.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Schedule Your Tutoring According To YOur time</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Learn According To Topic Or Exam.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Get Notes and Practice Questions after The Tutoring.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Clear all your doubts.</li>
							</div>
						</ul>
					</div>

					<div id="hw1pts2">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Do Your Work Along With Your Group <br>@ $5 / hr. Average Tutoring Takes about an Hour and a Half.</li>
							</div>
						</ul>
					</div>

				</div>
			</div>

			<div class="container block-button-container">
				<button type="button" class="block-button" data-toggle="modal" data-target="#login-modal">
					Request Live Video Session
				</button>
			</div>

		</section>

		<hr>

		<section class="past_work" id="past4">

				<h1>( ... Coming Soon ... ) ..Get Group Tutoring...</h1>

				<div id="homework1">

					<div id="hw1pts1">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Understand Your Homework From the Experts.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Get Written Solutions For Future Reference.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Clear your Doubts.</li>
							</div>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Get Completion Remiders.</li>
							</div>
						</ul>
					</div>

					<div id="hw1pts2">
						<ul>
							<div class="hw-list">
								<%= image_tag 'arrow.png' %>
								<li>Do Your Work Along With Your Group <br>@ $4 / hr. Average Tutoring Takes less than 2hrs.</li>
							</div>
						</ul>
					</div>

					<div class="hw1imgdiv">
						<%= image_tag 'group.PNG', class:"hw1img" %>
					</div>

				</div>
			</div>


			<div class="container block-button-container2">
				<button type="button" class="block-button" data-toggle="modal" data-target="#login-modal">
					Request Group Live Video Session
				</button>
			</div>

		</section>

		<section id="contact">
			<div class="wrapper">
				<h2 class="title">Get in touch</h2><br>
				<p class="sub_title">Still Have Questions about How We Work and Benifits of Joining Us? Message Us!</p>
				<a href="#" class="button button_highlight button_large">Contact Us => naughtycollegeworks@gmail.com</a>
			</div>
		</section>



<!-- Modal -->
<div class="modal fade container" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Login</h4>
			</div>
			<div class="modal-body">
				<%= render 'students_sessions/login' %>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="homework" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Homework</h4>
			</div>
			<div class="modal-body">
				<p>
					<br><br>
					Banh mi bicycle rights tattooed, craft beer semiotics XOXO kale chips. Post-ironic schlitz humblebrag craft beer food truck wolf, vice small batch succulents. Ugh single-origin coffee kogi hoodie. Fixie copper mug skateboard hashtag kombucha, irony authentic enamel pin helvetica celiac scenester letterpress slow-carb. Intelligentsia vegan next level, XOXO irony asymmetrical occupy jean shorts squid freegan bitters. Poutine whatever cred, chartreuse tumblr pug jean shorts yuccie pour-over cray flexitarian 3 wolf moon. Man braid hoodie unicorn sriracha direct trade, fam cray hell of humblebrag leggings raclette sartorial.
					<br><br>
					Vape man braid food truck, blue bottle art party narwhal stumptown actually gluten-free ramps hammock forage viral selfies four loko. Narwhal gochujang yr meditation dreamcatcher. Humblebrag blog meggings marfa etsy, whatever kitsch. Tousled hell of disrupt hot chicken, etsy pinterest yr asymmetrical fap. Banjo snackwave try-hard, umami health goth polaroid kitsch wayfarers four loko poke tote bag pinterest venmo neutra +1. Austin brooklyn fap knausgaard celiac. Hexagon drinking vinegar pok pok activated charcoal, irony aesthetic paleo tattooed meditation readymade kombucha art party.
					<br><br>
					Banh mi bicycle rights tattooed, craft beer semiotics XOXO kale chips. Post-ironic schlitz humblebrag craft beer food truck wolf, vice small batch succulents. Ugh single-origin coffee kogi hoodie. Fixie copper mug skateboard hashtag kombucha, irony authentic enamel pin helvetica celiac scenester letterpress slow-carb. Intelligentsia vegan next level, XOXO irony asymmetrical occupy jean shorts squid freegan bitters. Poutine whatever cred, chartreuse tumblr pug jean shorts yuccie pour-over cray flexitarian 3 wolf moon. Man braid hoodie unicorn sriracha direct trade, fam cray hell of humblebrag leggings raclette sartorial.
				</p>
			</div>
			<div class="modal-footer">
				<%= link_to "Go Ahead and Join Us on your Journey To Success!!!", new_student_path %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade container" id="learnHomework" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Learn Your Homework</h4>
			</div>
			<div class="modal-body">
				<br><br>
				Banh mi bicycle rights tattooed, craft beer semiotics XOXO kale chips. Post-ironic schlitz humblebrag craft beer food truck wolf, vice small batch succulents. Ugh single-origin coffee kogi hoodie. Fixie copper mug skateboard hashtag kombucha, irony authentic enamel pin helvetica celiac scenester letterpress slow-carb. Intelligentsia vegan next level, XOXO irony asymmetrical occupy jean shorts squid freegan bitters. Poutine whatever cred, chartreuse tumblr pug jean shorts yuccie pour-over cray flexitarian 3 wolf moon. Man braid hoodie unicorn sriracha direct trade, fam cray hell of humblebrag leggings raclette sartorial.
				<br><br>
				Vape man braid food truck, blue bottle art party narwhal stumptown actually gluten-free ramps hammock forage viral selfies four loko. Narwhal gochujang yr meditation dreamcatcher. Humblebrag blog meggings marfa etsy, whatever kitsch. Tousled hell of disrupt hot chicken, etsy pinterest yr asymmetrical fap. Banjo snackwave try-hard, umami health goth polaroid kitsch wayfarers four loko poke tote bag pinterest venmo neutra +1. Austin brooklyn fap knausgaard celiac. Hexagon drinking vinegar pok pok activated charcoal, irony aesthetic paleo tattooed meditation readymade kombucha art party.
				<br><br>
				Banh mi bicycle rights tattooed, craft beer semiotics XOXO kale chips. Post-ironic schlitz humblebrag craft beer food truck wolf, vice small batch succulents. Ugh single-origin coffee kogi hoodie. Fixie copper mug skateboard hashtag kombucha, irony authentic enamel pin helvetica celiac scenester letterpress slow-carb. Intelligentsia vegan next level, XOXO irony asymmetrical occupy jean shorts squid freegan bitters. Poutine whatever cred, chartreuse tumblr pug jean shorts yuccie pour-over cray flexitarian 3 wolf moon. Man braid hoodie unicorn sriracha direct trade, fam cray hell of humblebrag leggings raclette sartorial.
			</div>
			<div class="modal-footer">
				<%= link_to "Go Ahead and Join Us on your Journey To Success!!!", new_student_path %>
			</div>
		</div>
	</div>
</div>

<div class="modal fade container" id="exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Teaching / Tutoring For Exams</h4>
			</div>
			<div class="modal-body ">
				<br><br>
				Banh mi bicycle rights tattooed, craft beer semiotics XOXO kale chips. Post-ironic schlitz humblebrag craft beer food truck wolf, vice small batch succulents. Ugh single-origin coffee kogi hoodie. Fixie copper mug skateboard hashtag kombucha, irony authentic enamel pin helvetica celiac scenester letterpress slow-carb. Intelligentsia vegan next level, XOXO irony asymmetrical occupy jean shorts squid freegan bitters. Poutine whatever cred, chartreuse tumblr pug jean shorts yuccie pour-over cray flexitarian 3 wolf moon. Man braid hoodie unicorn sriracha direct trade, fam cray hell of humblebrag leggings raclette sartorial.
				<br><br>
				Vape man braid food truck, blue bottle art party narwhal stumptown actually gluten-free ramps hammock forage viral selfies four loko. Narwhal gochujang yr meditation dreamcatcher. Humblebrag blog meggings marfa etsy, whatever kitsch. Tousled hell of disrupt hot chicken, etsy pinterest yr asymmetrical fap. Banjo snackwave try-hard, umami health goth polaroid kitsch wayfarers four loko poke tote bag pinterest venmo neutra +1. Austin brooklyn fap knausgaard celiac. Hexagon drinking vinegar pok pok activated charcoal, irony aesthetic paleo tattooed meditation readymade kombucha art party.
				<br><br>
				Banh mi bicycle rights tattooed, craft beer semiotics XOXO kale chips. Post-ironic schlitz humblebrag craft beer food truck wolf, vice small batch succulents. Ugh single-origin coffee kogi hoodie. Fixie copper mug skateboard hashtag kombucha, irony authentic enamel pin helvetica celiac scenester letterpress slow-carb. Intelligentsia vegan next level, XOXO irony asymmetrical occupy jean shorts squid freegan bitters. Poutine whatever cred, chartreuse tumblr pug jean shorts yuccie pour-over cray flexitarian 3 wolf moon. Man braid hoodie unicorn sriracha direct trade, fam cray hell of humblebrag leggings raclette sartorial.
			</div>
			<div class="modal-footer">
				<%= link_to "Go Ahead and Join Us on your Journey To Success!!!", new_student_path %>
			</div>
		</div>
	</div>
</div>
