<div class="form-wrapper">
    <%= form_for [@student, @order] do |f| %>

        <% if @order.errors.any? %>
          <h1><%= pluralize(@order.errors.count, "Errors") %> Prevented Your Order Creation </h1>
            <% @order.errors.full_messages.each do |e| %>
              <li><%= e %></li>
            <% end %>
        <% end %>

        <div class="form-group">
            <%= f.label "Order" %><br>
            <%= f.select(:order_type, ["Get Homework Done", "Live Video Tuition", "Homework with Explaination"], {}, {class: "custom-select mb-2 mr-sm-2 mb-sm-0"}) %>
        </div>
        <h3 id='price_of_option' style="color:#333;">Price: $3</h3>
        <div class="form-group">
            <%= f.text_field :subject, class: "form-control", placeholder: "Subject" %>
        </div><br>

        <div class="form-group">
            <%= f.text_field :topic, class: "form-control", placeholder: "Topic" %>
        </div><br>

        <div class="form-group">
            <%= f.text_area :about_homework, class: "form-control", placeholder: "About Homework" %>
        </div><br>

        <div class="form-group">
            <%= f.label "Deadline (yy-mm-dd hh:mm)" %><br>
            <%= f.datetime_field :deadline, class: "form-control" %>
        </div><br>

        <div class="form-group">
            <%= f.text_field :website, class: "form-control", placeholder: "Link To Homework (if any?)" %>
        </div><br>

        <div class="form-group">
            <%= f.text_field :credentials, class: "form-control", placeholder: "Credentials for the Website. Leave blank if no website provided." %>
        </div><br>

        <div class="form-group">
            <%= f.text_area :special_comments, class: "form-control", placeholder: "Special Comments" %>
        </div><br>

        <div class="form-group">
            <%= f.label "Docs (You Can Upload Multiple Docs With Multiple Select)" %><br>
            <%= f.file_field :stud_docs, multiple: true, class: "btn" %>
        </div><br>

        <div class="form-group">
            <%= f.submit "Place Order", class: "button button_highlight" %>
        </div>
    <% end %>

</div>
<script type="text/javascript">

  $(document).ready(function(){
    $('#order_order_type').on('change', function(){
      var selectedOption = $('#order_order_type option:selected').text();
      console.log(selectedOption);
      if(selectedOption == "Get Homework Done"){
        console.log("Selected");
        $('#price_of_option').innerHTML = "Price: $3";
      } else if(selectedOption == "Live Video Tuition"){
        console.log("Selected");
        $('#price_of_option').html("Price: $5/hr");
      }
      else {
        $('#price_of_option').html("Price: $4");
      }
    });
  });
</script>
