<div class="form-wrapper2">
    <%= form_for [@student, @order] do |f| %>

        <% if @order.errors.any? %>
          <h1><%= pluralize(@order.errors.count, "Errors") %> Prevented Your Order Creation </h1>
            <% @order.errors.full_messages.each do |e| %>
              <li><%= e %></li>
            <% end %>
        <% end %>



        <div class="form-group">
            <%= f.label "Order" %><span class="red-star">*</span><br>More Subjects will be added soon.
            <%= f.select(:order_type, ["Get Homework Done", "Homework with Explaination", "Project", "Lab","Paper"], {}, {class: "custom-select mb-2 mr-sm-2 mb-sm-0"}) %>
        </div>

        <p id='price_of_option'>Price: $3 if hw due in next 2 days or more.<br>Price: $8 if hw due next day.</p>

        <div class="form-group">
            <%= f.label "Subject:" %><span class="red-star">*</span><br>
            <%= f.select(:subject, ["Chemistry", "Physics", "Mathematics", "English", "Computer"], {}, {class: "custom-select mb-2 mr-sm-2 mb-sm-0"}) %>
        </div><br>

        <div class="form-group">
          <%= f.label "Topic: " %><span class="red-star">*</span><br>
            <%= f.text_field :topic, class: "form-control", placeholder: "(For Eg: SubCategory - Calculus 2, Topic - Integration I)" %>
        </div><br>

        <div class="form-group">
            <%= f.text_area :about_homework, class: "form-control", placeholder: "About Homework" %>
        </div><br>

        <div class="form-group">
            <%= f.label "Deadline (mm-dd-hh) (hh:mm AM/PM)" %><span class="red-star">*</span><br>
            <%= f.datetime_field :deadline, class: "form-control", id: "deadline_field"  %>
        </div><br>

        <div>

          <p>You Can Upload Screenshots of the website later in edit order or put Website and Credentials Securely. Your Information will be 256 SSL Encrypted and will not be shared with the Teacher<p><br>
          <div class="form-group">
            <%= f.label "Link To Homework (if any?)" %>
            <%= f.url_field :website, class: "form-control", value: "https://www.something.something.com" %>
          </div><br>

          <div class="form-group">
            <%= f.label "Credentials - Leave blank if no website provided." %>
            <%= f.password_field :credentials, class: "form-control"  %>
          </div><br>

        </div>

        <div class="form-group">
          <%= f.label "Special Comments" %>
            <%= f.text_area :special_comments, class: "form-control", placeholder: "Special Comments" %>
        </div><br>
        <div class="form-group">
            <%= f.label "Docs (You Can Upload Multiple Docs With Multiple Select)" %><br>
            <%= f.file_field :stud_docs, multiple: true, class: "btn" %>
        </div><br>

        <div class="form-group">
            <%= f.submit "Place Order", class: "button button_highlight" %><br><br>On Payment Page, Select Paypal to Pay with Paypal or Don't have a Paypal Account or Pay with Debit/Credit Card to pay with card.
            <p><span class="red-star">*</span> Required Fields</p>
        </div>
    <% end %>

</div>
<script type="text/javascript">

  $(document).ready(function(){
    console.log($('#deadline_field').get_timezone());
    document.cookie= "timezone="+$('#deadline_field').get_timezone();
    $('#order_order_type').on('change', function(){
      var selectedOption = $('#order_order_type option:selected').text();
      console.log(selectedOption);
      if(selectedOption == "Get Homework Done"){
        console.log("Selected");
        $('#price_of_option').html("Price: $3 if hw due in next 2 days or more.<br>Price: $8 if hw due next day.");
      } else if(selectedOption == "Live Video Tuition"){
        console.log("Selected");
        $('#price_of_option').html("Price: $5/hr");
      }
      else if(selectedOption == "Project"){
        console.log("Selected");
        $('#price_of_option').html("Price: $15/Project");
      }
      else if(selectedOption == "Lab"){
        console.log("Selected");
        $('#price_of_option').html("Price: $10");
      }
      else if(selectedOption == "Paper"){
        console.log("Selected");
        $('#price_of_option').html("Price: $15");
      }
      else if(selectedOption == "Homework with Explaination"){
        $('#price_of_option').html("Price: $6 if hw due in next 2 days or more.<br>Price: $10 if hw due next day.");
      }
    });
  });
</script>
