<script>
$(document).ready(function()
{
  $('#order_website').pastableTextarea();

  $('#order_website').on('pasteImage', function (ev, data){
    //console.log("dataURL: " + data.dataURL);
    ev.preventDefault();
    console.log("width: " + data.width);
    console.log("height: " + data.height);
    console.log(data.blob);
    $.ajax({
      type: "POST",
      beforeSend: function() {
        console.log("Sending AJAX");
      },
      url: "/pastedImage/<%= @order.id %>/image/",
      data: {pastedImage: data.dataURL}
    });

    $('#order_website').after('<img class=\"result \" src='+ data.dataURL +'>');
  }).on('pasteImageError', function(ev, data){
    alert('Oops: ' + data.message);
    if(data.url){
      alert('But we got its url anyway:' + data.url)
    }
  }).on('pasteText', function (ev, data){
    console.log("text: " + data.text);
  });
});
</script>

<div class="order-edit-show">
        <div class="inner-form order-form">
            <% if student_logged_in? %>
              <% if @order.teacher_id != 0 %>
                <p>Order Attended By: <%= @order.teacher.first_name %></p>
                <p>Status Of Order: <%= @order.status %></p>
              <% else %>
                <p>Order Waiting to be Accepted</p>
              <% end %>

            <% if @order.approved_completion %>
                </h1>
                <p>Subject: <%= @order.subject %></p>
                <p>Topic: <%= @order.topic %></p>
                <p>Placed On: <%= @order.created_at %></p>
                <p>Status: <%= @order.status %></p>
                Deadline: <%= @order.deadline %><br>
                <p>Extra Comments: <%= @order.special_comments %></p>
                <p>Approved Completion: <%= @order.approved_completion.to_s.titleize %></p>


                <% @order.stud_docs.each do |f| %>
                  <br><%= link_to f.to_s, f.url %><br>
                <% end %>
                <br>
                <% @order.stud_pasted_images.each do |f| %>
                  <a href="<%= f %>"><%= image_tag f, class: "result" %></a>
                <% end %>
                <br>
                <p>Teacher Uploads:</p>
                <% @order.teacher_docs.each do |f| %>
                  <br><%= link_to f.path.to_s, f.url %><br>
                <% end %>

            <% else %>

                Deadline: <%= @order.deadline %><br>
                <% if @order.stud_docs.any? %>
                  <p>My Uploads:</p>
                  <% @order.stud_docs.each do |f| %>
                    <ul>
                      <li><%= link_to f.path.to_s, f.url %></li>
                    </ul>
                  <% end %>
                <% end %>
                <% @order.stud_pasted_images.each do |f| %>
                <a href="<%= f %>"><%= image_tag f, class: "result" %></a>
                <% end %>
                <br>
                <br>

                <% if @order.teacher_docs.any? %>
                  <p>Teacher Uploads:</p>
                  <% @order.teacher_docs.each do |f| %>
                    <ul>
                      <li><%= link_to f.path.to_s, f.url %></li>
                    </ul>
                  <% end %>
                <% end %>
                <p>Subject: <%= @order.subject %></p>
                <p>Topic: <%= @order.topic %></p>
                <br><br>

            <hr>

                <%= form_for [@student, @order], method: :patch do |f| %>
                  <% if @order.errors.any? %>
                  <h1><%= pluralize(@order.errors.count, "Errors") %> Prevented Your Order Creation </h1>
                  <% @order.errors.full_messages.each do |e| %>
                  <li><%= e %></li>
                  <% end %>
                <% end %>

                <div class="form-group">
                    <%= f.label "About Homework" %><br>
                    <%= f.text_area :about_homework, default: @order.about_homework, class:"form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label "Website For HW/Screenshots" %><br>
                    <%= f.text_field :website, default: @order.website.to_s, class:"form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label "Crdentials for Website" %><br>
                    <%= f.text_area :credentials, default: @order.credentials.to_s, class:"form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label "Extra Comments" %><br>
                    <%= f.text_area :special_comments, default: @order.special_comments, class:"form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :approved_completion, "Approve Completion" %>
                    <%= f.check_box :approved_completion %>
                </div>

                <div class="form-group">
                    <%= f.label "Upload More Docs (You Can Upload Multiple Docs With Multiple Select)" %>
                    <%= f.file_field :stud_docs, multiple: true %>
                </div>

                <%= f.submit "Update Status of Order", class: "button button_highlight" %>
            <% end %>

          </div>
        <% end %>

      <% end %>

    <% if teacher_logged_in? %>

      <h3><%= @order.student.username %></h3>
      <p>Subject: <%= @order.subject %></p>
      <p>Topic: <%= @order.topic %></p>
      <p>Placed On: <%= @order.created_at %></p>
      Deadline: <%= @order.deadline %><br><br><br>
      <p>Extra Comments: <%= @order.special_comments %></p>
      <p>Approved Completion: <%= @order.approved_completion.to_s.titleize %></p>
      <p>Student Uploads:</p>
      <% @order.stud_docs.each do |f| %>
        <br><%= link_to f.path.to_s, f.url %><br>
      <% end %>

      <br>
      <% @order.stud_pasted_images.each do |f| %>
        <a href="<%= f %>"><%= image_tag f, class: "result" %></a>
      <% end %>
      <br>

      <% if @order.teacher_id == current_teacher.id %>
        <p>Your Uploads:</p>
        <% @order.teacher_docs.each do |f| %>
          <br><%= link_to f.path.to_s, f.url %><br>
        <% end %>
      <% end %>



      <% if @order.teacher == current_teacher && !@order.approved_completion %>

        <%= form_for [@teacher, @order], method: :patch do |f| %>

            <div class="form-group">
              <%= f.label "Status" %><br>
              <%= f.select :status, options_for_select(["Accepted. In Progress", "Completed"], @order.status), class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label "Upload Docs (You Can Upload Multiple Docs With Multiple Select)" %><br>
                <%= f.file_field :teacher_docs, multiple: true, class: "form-control" %>
            </div>

            <%= f.submit "Update Status of Order", class: "button button_highlight" %>

        <% end %>

    <% end %>

  <% end %>

</div>
