<div class="our-teachers">
  <% j = 1 %>
  <div class="wide-container">
      <br><br><br><br>
      <div class="card-columns">
        <% @teachers.each do |i| %>
          <% if i.id != 0 %>
            <div class="card card-border narrow-cards" id="teacher-card-<%= j %>" style="width: 55%;">

              <div class="", style="border-radius:4rem;">
                <% if i.profile_pic? %>
                  <%= image_tag i.profile_pic, class: "card-img-top card-image-custom overlay" %>
                <% else %>
                  <% if i.gender == "Male" %>
                    <%= image_tag 'boy.jpg', class: 'card-img-top card-image-custom overlay' %><br>
                  <% else %>
                    <%= image_tag 'girl.jpg', class: 'card-img-top card-image-custom overlay' %><br>
                  <% end %>
                <% end %>

              </div>
              <div class="card-block">
                <p class="card-text"><%= i.status %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted"><%= link_to (i.first_name + " " + i.last_name).titleize, i %></small>
              </div>
            </div>

            <% j = j+1 %>
          <% end %>
        <% end %>

      </div>
  </div>
  <br><br><br><br><br><br><br><br>
</div>
