<div class="form-wrapper">
  <h2>Welcome <%= @teacher.first_name %>! Reset Your Password</h2>
  <%= form_tag '/reset_password_link', method: :post do %>
    <%= hidden_field_tag :id, @teacher.id %>
    <div class="form-group">
      <%= label_tag "New Password" %><br>
      <%= password_field_tag :password, "", class:"form-control" %>
    </div>
    <%= submit_tag "Update Password", class: "btn btn-success" %>
  <% end %>
  <br><br><br><br><br>
</div>
