<div class="showpage">
  <div class="highlight">
    <div class="teacher-show-details">
      <div class="profile_pic">
        <% if @teacher.profile_pic? %>
          <%= image_tag @teacher.profile_pic, class: 'show-teacher-img-size' %><br>
          <% if teacher_logged_in? %>
            <%= link_to "Update Picture", edit_teacher_path(current_teacher) %>
            <% end %>
        <% else %>
          <% if @teacher.gender == "Male" %>
            <%= image_tag 'boy.jpg', class: 'show-teacher-img-size' %><br>
          <% else %>
            <%= image_tag 'girl.jpg', class: 'show-teacher-img-size' %><br>
          <% end %>
        <% end %>
      </div>
      <div class="teacher-show-details1">
        <div class="teacher-show-details2">
          <span class="glyphicon glyphicon-envelope" aria-hidden= true></span><a href="mailto:<%= @teacher.email %>"><%= @teacher.email %></a>
          <h3><bold><%= (@teacher.first_name + " " + @teacher.last_name).titleize %></bold></h3>
        </div>
        <div class="teacher-show-details3">
          <p><span class="glyphicon glyphicon-screenshot"></span><%= "\t" + @teacher.country.titleize %></p>
          <p><span class="glyphicon glyphicon-earphone"></span><%= "\t" + @teacher.phone %></p>
          <p><span class="glyphicon glyphicon-user"></span><%= "\t" + @teacher.gender %></p>
        </div>
      </div>
      <div class="teacher-show-status">
        <% if @teacher.status %>
            <blockquote class="blockquote-reverse">
                  <p><%= @teacher.status %></p>
                  <footer> By <cite title="Source Title"><%= @teacher.first_name %></cite></footer>
            </blockquote>
        <% end %>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container">

    <div class="card card-outline-success">
      <h3 class="card-header">About Me</h3>
      <div class="card-block">
        <p class="card-text"><%= @teacher.about.html_safe %></p>
      </div>
    </div>
    <br>
    <div class="card card-outline-success">
      <h3 class="card-header">Why Me ?</h3>
      <div class="card-block">
        <p class="card-text"><%= @teacher.whyme.html_safe %></p>
      </div>
    </div>


    <br><br>

    <div id="comments-section">
      <div>
        <% if teacher_logged_in? %>
          <h3>Your Comments/Reviews:</h3>
        <% else %>
          <h3>Comments/Reviews:</h3>
        <% end %>
        <div class="card-columns" id="comments">
          <% if @teacher.teacher_comments.any? %>
            <%= render @teacher.teacher_comments %>
          <% else %>
            <p>No Comments/Reviews yet</p>
          <% end %>
        </div>
        <br>
      </div>
    </div>
    <% if !teacher_logged_in? %>
      <%= form_for [@teacher, @teacher.teacher_comments.new], remote: true do |f| %>
        <div class="form-group">
          <%= f.text_field :comment, placeholder: "Post a Comment", class: "form-control" %>
        </div>
        <%= f.submit 'Post Comment', class:"btn btn-success" %>
      <% end %>
    <% end %>
  </div>



  <br><br><br>

<!-- Order Processing  -->

<div class="container">
  <% if teacher_logged_in? %>
          <h3 class="text-center"><u>My Orders</u></h3>
          <% if @teacher.orders.any? %>
                  <table class="table table-hover">
                  <th>Order Type</th>
                  <th>Subject</th>
                  <th>Topic</th>
                  <th>Student</th>
                  <th>Status</th>
                  <th>Deadline</th>
                  <% @teacher.orders.where(approved_completion: false, purchase_status: "Completed").order(updated_at: :desc).each do |order| %>
                      <tr class="success">
                          <td><%= link_to(order.id, teacher_order_path(@teacher, order)) +" " + order.order_type %></td>
                          <td><%= order.subject %></td>
                          <td><%= order.topic %></td>
                          <td><%= order.student.username %></td>
                          <td><%= order.status %></td>
                          <td><%= order.deadline %></td>
                      </tr>
                  <% end %>
              </table>
          <% else %>
              <p class="text-center">No Orders Yet</p>
          <% end %>

          <br><br><hr><br><br>

          <h3 class="text-center"><u>New Orders You Can Accept?</u></h3>
          <% if Order.where(teacher_id: 0).any? %>
                  <table class="table table-hover">
                  <th>Order Type</th>
                  <th>Subject</th>
                  <th>Topic</th>
                  <th>Student Name</th>
                  <th>Status</th>
                  <th>Deadline</th>
                  <th>Accept?</th>
                  <% Order.where(teacher_id: 0, purchase_status: "Completed").order(updated_at: :desc).each do |order| %>
                      <tr>
                          <td><%= link_to(order.id, teacher_order_path(@teacher, order)) +" " + order.order_type %></td>
                          <td><%= order.subject %></td>
                          <td><%= order.topic %></td>
                          <td><%= order.student.username %></td>
                          <td><%= order.status %></td>
                          <td><%= order.deadline %></td>
                          <td><%= link_to "Accept this Order", teacher_order_accept_order_path_path(@teacher, order), method: :patch, remote: true , class:"btn btn-success" %></td>
                      </tr>
                  <% end %>
                  </table>



          <% else %>
              <p class="text-center">No New Orders</p>
          <% end %>
          <br><br><br>
          <h3 class="text-center"><u>Past Orders</u></h3>
          <% if Order.where(approved_completion: true).any? %>
                  <table class="table table-hover">
                  <th>Order Type</th>
                  <th>Subject</th>
                  <th>Topic</th>
                  <th>Student Name</th>
                  <th>Status</th>
                  <th>Deadline</th>
                  <% @teacher.orders.where(approved_completion: true).order(updated_at: :desc).each do |order| %>
                      <tr class="danger">
                          <td><%= link_to(order.id, teacher_order_path(@teacher, order)) +" " + order.order_type %></td>
                          <td><%= order.subject %></td>
                          <td><%= order.topic %></td>
                          <td><%= order.student.username %></td>
                          <td><%= order.status %></td>
                          <td><%= order.deadline %></td>
                      </tr>
                  <% end %>
                  </table>
          <% end %>
      <% end %>
</div>

<!-- Order Processing Ends -->

<br><br><br>

</div>
