<div class="wrapper2">

  <div class="showpage">
    <div class="teacher-show-details">

        <div class="left">
          <h1 class="display-3 heading-name animated slideInLeft">Hello, I am <br> <%= @teacher.first_name + " " + @teacher.last_name %></h1>
          <hr class="my-4">
          <p class="heading-status animated fadeInDown"><%= @teacher.status %></p><br>
          <div class="contact animated wobble">
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><%= " " + @teacher.email %></p>
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><%= " " + @teacher.phone %></p>
          </div>
          <p class="heading-status animated zoomInUp">About Me: <%= @teacher.about.html_safe %></p><br>
          <p class="heading-status animated zoomInUp">Why Me: <%= @teacher.whyme.html_safe %></p><br>
        </div>



        <div class="right animated slideInRight">
          <% if @teacher.profile_pic? %>
            <%= image_tag @teacher.profile_pic, class: "pro-pic animated swing" %>
          <% elsif @teacher.gender == "Male" %>
            <%= image_tag "boy.jpg", class: "pro-pic animated swing" %>
          <% else %>
            <%= image_tag "girl.jpg", class: "pro-pic animated swing" %>
          <% end %>
          <p class="overlay2 animated slideInRight"></p>
          <p class="after  animated rollIn">> LETS WORK TOGETHER</p>
        </div>

    </div>
  </div>

<!-- Order Processing  -->


  <!-- Review Section  -->
  <div class="container">

    <div id="comments-section">
      <div class="card-columns" id="comments">
        <% if @teacher.teacher_comments.any? %>
        <%= render @teacher.teacher_comments %>
        <% else %>
        <p>No Comments/Reviews yet</p>
        <% end %>
      </div>
      <br>
    </div>
    <br>

    <% if !teacher_logged_in? %>
      <%= form_for [@teacher, @teacher.teacher_comments.new], remote: true do |f| %>
        <div class=" container form-group">
          <%= f.text_field :comment, placeholder: "Post a Comment", class: "form-control" %><br>
          <%= f.submit 'Post a Comment/Review', class:"button button_highlight" %>
        </div>
      <% end %>
    <% end %>

    <br><br><br>




<% if teacher_logged_in? %>
  <div class="order">
    <div class="card-columns">

        <% if @teacher.orders.any? %>
          <% @teacher.orders.where(approved_completion: false, purchase_status: "Completed").order(updated_at: :desc).each do |order| %>
            <div class="card card-success">
              <div class="card-block animated bounce">
                <h4 class="card-title"><%= link_to(order.id, teacher_order_path(@teacher, order)) + " " + order.order_type %></h4>
                <p class="card-text">
                  Student: <%= order.student.username %>
                  Subject: <%= order.subject %><br>
                  Topic: <%= order.topic %><br>
                  About Homework: <%= order.about_homework %><br>
                  Status: <%= order.status %><br>
                  Deadline: <%= order.deadline %> | Time: <%= order.time %><br>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>

    </div>

    <br><br><hr><br><br>

    <div class="card-columns">
      <% if Order.where(teacher_id: 0).any? %>
        <% Order.where(teacher_id: 0, purchase_status: "Completed").order(updated_at: :desc).each do |order| %>
          <div class="card">
            <div class="card-block animated bounce" style="color:#333;">
              <h4 class="card-title"><%= link_to(order.id, teacher_order_path(@teacher, order)) + " " + order.order_type %></h4>
              <p class="card-text" style="color:#333;">
                Subject: <%= order.subject %><br>
                Topic: <%= order.topic %><br>
                Student Name: <%= order.student.username %><br>
                Status: <%= order.status %><br>
                Deadline: <%= order.deadline %> | Time: <%= order.time %><br>
                <%= link_to "Accept this Order", teacher_order_accept_order_path_path(@teacher, order), method: :patch, remote: true , class:"button button_highlight" %>
              </p><br>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <br><br><hr><br><br>

    <div class="card-columns">
      <% if Order.where(approved_completion: true).any? %>
        <% @teacher.orders.where(approved_completion: true).order(updated_at: :desc).each do |order| %>
          <div class="card-block card-danger animated bounce">
            <h4 class="card-title"><%= link_to(order.id, teacher_order_path(@teacher, order)) + " " + order.order_type %></h4>
            <p class="card-text">
              Subject: <%= order.subject %><br>
              Topic: <%= order.topic %><br>
              Student Name: <%= order.student.username %><br>
              Status: <%= order.status %><br>
              Deadline: <%= order.deadline %> | Time: <%= order.time %><br>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>

  <!-- Order Processing Ends -->
  </div>
<% end %>
</div>

<br><br><br><br><br><br>

<br><br><br>

</div>
