<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>NaughtyCollegeWorks</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light" rel="stylesheet">

  <meta property="og:image" content="http://cdn.pixabay.com/photo/2016/11/29/09/46/architecture-1868792_960_720.jpg" />
  <meta property="og:description" content="Naughty College Works - Become A Billonaire." />
  <meta property="og:url"content="http://naughtycollegeworks.herokuapp.com/" />
  <meta property="og:title" content="NaughtyCollegeWorks. Your College BAE" />

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="nav">
    <div class="wrapper">
      <header>
    					<p id="logo">Naughty<span>College</span>Works</p>

    					<nav>
                <% if !teacher_logged_in? && !student_logged_in? %>
                  <%= link_to "Home", root_path %>
                  <%= link_to "Our Teachers", teachers_path %>
                <% end %>
    						<% if teacher_logged_in? %>
                  <%= link_to current_teacher.first_name +  " " + current_teacher.last_name, root_path %>
    						  <%= link_to "Edit Profile", edit_teacher_path(current_teacher) %>
                  <%= link_to "LogOut", teacher_session_path(current_teacher), method: :delete %>
                <% elsif student_logged_in? %>
                  <%= link_to current_student.username, root_path %>
                  <%= link_to "Our Teachers", teachers_path %>
                  <%= link_to "LogOut", students_session_path(current_student), method: :delete %>
                <% else %>
                  <%= link_to "Teacher LogIn", new_teacher_session_path %>
                  <%= link_to "Teacher Sign Up!", new_teacher_path %>
                <% end %>
                <%= link_to "Chat With Us", '#', id: "chat", class:"button button_secondary button_small" %>
    					</nav>

    	</header>
  	</div>
	</div>

  <div class="">
    <% if flash[:notice] %>
      <p class="alert alert-warning"><%= flash[:notice] %></p>
    <% end %>
  </div>
  <div class="">
    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>
  </div>
  <div class="">
    <% if flash[:success] %>
      <p class="alert alert-success"><%= flash[:success] %></p>
    <% end %>
  </div>

    <%= yield %>
  <footer id="main-footer">

    	<h3 class="copyright">Best kept secret of college success. Used by thousands of students and still counting.</h3>
			<p class="copyright">&copy; 2017 <a href="#">Because We Hate School More Than You Do</a> :)</p>
  </footer>


</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



</html>
